:root {
    --theme_colour: rgb(255, 255, 255);
    --shadow_colour: orange;
}
body {
    margin: 0;
    background-color: rgb(0, 0, 0, 0.85);
}
/* font */
span {
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.center {
    display: flex;
    align-items: center;
}
.vertical_center {
    display: flex;
    align-items: center;
}
/* header */
.header_container {
    text-align: center;
}
.title_box {
    margin-top: 15px;
    margin-bottom: 15px;
}
.title_text {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 10px var(--shadow_colour);
}
.header_line {
    border: 2px solid var(--theme_colour);
    box-shadow: 3px 3px 10px var(--shadow_colour);
}


/* weather */
.wttrinfo_container {
    margin-top: 30px;
    text-align: center;
}
.wttrinfo_box {
    display: flex;
}
/* clock */
.clock_container {
    text-align: center;
}
.clock_txt {
    font-size: 40px;
}
/* weather box left */
.wttrinfo_box_left {
    margin-right: 15px;
    display: flex;
}
.wttrinfo_icon {
    width: 90px;
    height: 90px;
}
.wttrinfo_rep_info {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.wttrinfo_forecast_txt {
    font-size: 18px;
}
#wttrinfo_rep_txt {
    margin-top: 25px;
    font-size: 25px;
}
#wttrinfo_sup_txt {
    font-size: 15px;
}
/* weather line */
.wttrinfo_line {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--shadow_colour);
}
/* weather box right */
.wttrinfo_box_right {
    margin: 0 auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* temperature icon */
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}
#temp_icon {
    margin-right: 5px;
    color: red;
}
#feel-like_icon {
    margin-right: 5px;
    color: yellow;
}

