<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">


    <!-- title font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- main page font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Oswald&display=swap" rel="stylesheet">
    

    <!-- temperature icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- feel-like icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    

    <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='home.js')}}"></script>

    <title>Smart Mirror Project</title>
</head>
<body>
    <!-- header -->
    <div class="header_container">
        <div class="title_box">
            <span class="title_text">Smart Mirror Project</span>
        </div>
        <div class="header_line"></div>
    </div>
    <!-- body -->
    <div>        
        <div class="wttrinfo_container">
            <!-- wttrinfo-->
            <div style="display: inline-block;">
                <!-- clock -->
                <div class="clock_container">
                    <span class="clock_txt" id="date"></span>
                    <span class="clock_txt" id="times"></span>
                </div>
                <div class="wttrinfo_box">
                    <!-- wttrinfo left -->
                    <div class="wttrinfo_box_left">
                        <div>
                            <img class="wttrinfo_icon" src="" alt="">
                        </div>
                        <div class="wttrinfo_rep_info">
                            <div class="wttrinfo_forecast_txt" id="wttrinfo_rep_txt"><span id="forecast"></span></div>
                            <div class="wttrinfo_forecast_txt" id="wttrinfo_sup_txt"><span id="tmp_min_max"></span></div>
                        </div>
                    </div>
                    <!-- wttrinfo divide line -->
                    <div class="wttrinfo_line"></div>
                    <!-- wttrinfo right -->
                    <div class="center" style="margin-top: 17px;">
                        <div class="wttrinfo_box_right">
                            <div class="vertical_center" style="margin-bottom: 3px;">
                                <span class="material-symbols-outlined" id="temp_icon">device_thermostat</span>
                                <span class="wttrinfo_forecast_txt" id="temp_tmp"></span>
                            </div>
                            <div class="vertical_center">
                                <span class="material-symbols-outlined" id="feel-like_icon">sentiment_satisfied</span>
                                <span class="wttrinfo_forecast_txt" id="temp_feelslike"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
